$cellSide: 100px;
.board {
  .grid {
    width: 9 * $cellSide;
    height: 9 * $cellSide;
    border: 12px solid black;

    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    .row {
      display: flex;
      flex-direction: row;
      .cell {
        width: $cellSide;
        height: $cellSide;
        border: 4px solid black;
        box-sizing: border-box;
        font-size: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// for row in array_of_rows:
//     for cell in row:
//       display cell
